.post-form-container {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 24px;
}

.post-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label {
  color: #555;
}

.form-input,
.form-textarea {
  padding: 12px 16px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  transition: border-color 0.2s;
  border-radius: 10px !important;
  border: 1px solid #ddd;
}

.form-input:focus,
.form-textarea:focus {
  border-color: #7695EC;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.create-button {
  padding: 8px 40px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: auto
}

.create-button.active {
  background-color: #7695EC;
  color: white;
}

.create-button.active:hover {
  background-color: #3367d6;
}

.create-button.disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: not-allowed;
}
